* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
$color-blue: #007bff;
$font-lg: 2rem;
$font-me: 1.5rem;
$font-sm: 1rem;
@mixin box($min-width) {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  min-height: $min-width;
  background: #ffffff;
  border-radius: 0.3rem;
  &__title {
    font-weight: 700;
    font-size: $font-lg;
  }
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
.guess {
  min-height: 100vh;
  background: linear-gradient(135deg, #8052ec, #d161ff);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__search {
    display: grid;
    background-color: #ffffff;
    border-radius: 0.3rem;
    padding: 1.8rem 1.2rem;
    width: 50%;
    gap: 0.5rem;
    margin-top: 1rem;
    &__input {
      min-width: 70%;
      font-size: 0.9rem;
      text-align: center;
      border: 0.1rem solid #d1d3d4;
      padding: 0.75rem;
      color: #111111;
      font-weight: 500;
      border-radius: 0.3rem;
      &:focus {
        outline: none;
        border-color: $color-blue;
      }
    }
    &__btn {
      min-width: 20%;
      padding: 0.25rem;
      min-height: 2.5rem;
      border-radius: 0.3rem;
      font-weight: 500;
      font-size: 1rem;
      background-color: transparent;
      border: 0.09rem solid $color-blue;
      color: $color-blue;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background-color: $color-blue;
        color: #fff;
      }
    }
  }
  &__result {
    width: 50%;
    &__age {
      @include box(25vh);
      &__name,
      &__count,
      &__lifetime {
        margin-top: 1rem;
        &__text {
          font-weight: 600;
          font-size: $font-me;
          color: #656566cf;
        }
        &__answer {
          font-weight: 500;
          color: black;
        }
      }
    }
    &__country {
      @include box(20vh);
      &__item{
        font-size: $font-me;
        font-weight: 600;
        &__country{
          font-weight: 600;
          font-size: $font-lg;
          color: #656566cf
        }
      }
    }
    &__gender {
      @include box(20vh);
      &__status,
      &__probability {
        margin-top: 1rem;
        &__text {
          font-weight: 600;
          font-size: $font-me;
          color: #656566cf;
        }
        &__answer {
          font-weight: 500;
          color: black;
        }
      }
    }
    &__show {
      margin-top: 2rem;
      border-radius: 0.3rem;
      background-color: #ffffff;
      padding: 1.8rem 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      &__btn {
        min-width: 100%;
        padding: 0.25rem;
        min-height: 2.5rem;
        border-radius: 0.3rem;
        font-weight: 500;
        font-size: 1rem;
        background-color: transparent;
        border: 0.09rem solid $color-blue;
        color: $color-blue;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          background-color: $color-blue;
          color: #fff;
        }
      }
    }
  }
}
